<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.robot">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme,android:label,android:icon">
        <activity android:name=".activity.VideoPlayerActivity"/>
        <activity
            android:parentActivityName=".activity.RobotActivity"
            android:name=".activity.WebRTCActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activity.RobotActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activity.InitialActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="RosAndroidJavaFix.NodeMainExecutorService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService" />
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.api.ExternalOpenVPNService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService"/>
            </intent-filter>
        </service>
        <activity
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:excludeFromRecents="true"
            android:label="@string/vpn_launch_title"
            android:theme="@android:style/Theme.DeviceDefault.Light.Panel"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>